*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0F0F0f;
    color: white;
}

.wrapper {
    width: 450px;
    padding: 25px;
    border-radius: 7px;
    background: #1f1f1f;
    border-radius: 8px;
}

.wrapper .gradient-box {
    width: 100%;
    height: 220px;
    background: linear-gradient(to left top, #232D3F, #005B41);
    border-radius: 8px;
}

.wrapper .row {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.row :where(.column, button) {
    width: calc(100% / 2 - 12px);
}

.options p {
    font-size: 1.12rem;
    margin-bottom: 8px;
}

.options .select-box {
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid #fff;
}
.select-box select {
    width: 100%;
    border: none;
    outline: none;
    background:  none;;
    color: white;
    font-size: 1.12rem;
    background: #1f1f1f;
}

.options .colors {
    display: flex;
    gap: 10px;
    margin-left: 60px;
}

.colors input {
    flex: 1;
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #fff;
    background: #1f1f1f;
    padding: 2px;
}

.colors input:last-child {
    margin-left: 6px;
}

.wrapper textarea {
    width: 100%;
    color: #fff;
    resize: none;
    background: none;
    font-size: 1.05rem;
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid #fff;
}

.buttons button {
    cursor: pointer;
    padding: 15px 0;
    font-size: 1.09rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    margin: 0 0 -15px;
}

.buttons .refresh {
        background: linear-gradient(to left top, #0F0F0f, #232D3F);
}

.buttons .copy {
        background: linear-gradient(to left top, #005B41, #232D3F);
}

/* Responsive Mobile */
@media (max-width: 600px) {

    
    .wrapper {
        width: 90%;
    }

    .wrapper .row {
        flex-direction: column;
        gap: 15px;
    }

    .row :where(.column, button) {
        width: 100%;
    }

    .options .colors {
        margin-left: 0;
        width: 100%;
    }
}

.colors input {
    flex: 1;
    height: 41px;
    background: none;
    border: none;
    outline: none;
    border-radius: 5px;
}


    .buttons {
        flex-direction: column;
        display: flex;
        gap: 10px;
    }

    .buttons button {
        width: 100%;
    }

    .wrapper textarea {
        font-size: 1rem;
    }

     .options .colors {
        margin-left: 0;
        margin-top: 10px;
    }

}